form {
	margin: 20px 40px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 25px;
	background-color: whitesmoke;
	border-radius: 10px;
}

form .title {
	font-size: 24px;
	font-family: YoungSerif;
}

form .autogrid {
	display: grid;
	gap: 25px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

form .autogrid .input {
	display: flex;
	font-family: Karla;
	flex-direction: column;
}

form .autogrid .input label {
	font-size: 16px;
}

form .autogrid .input input {
	font-size: 18px;
	padding: 6px;
}

form .control {
	padding: 10px;
	display: flex;
	justify-content: flex-end;
}

form .control button {
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 8px;
	background-color: whitesmoke;
	border: 2px solid black;
	font-family: Audiowide;
}

form .control button:hover {
	transition-duration: 450ms;
	background-color: black;
	border: 2px solid whitesmoke;
	color: white;
	cursor: pointer;
}
