.toast {
  position: fixed;
  bottom: 0px;
  right:	0px;
	margin: 10px;
  padding: 15px 15px;
	max-width: calc(100% - 20px - 30px);

  background-color: #333;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
	font-size: 18px;
	font-family: Karla;
	hyphens: auto;
	text-align: justify;
	word-spacing: -0.5px;
}

.toast p {
	margin: 5px;
}

.toast.success {
	background-color: #386B4A;
}

.toast.failure {
	background-color: #661100;
}

.toast.error {
	background-color: #F47B3E;
}
