<footer>
	<div class="sections">
		<div class="section my-links">
			<span class="title">Contacts</span>
			<div class="links">
				<a href="https://www.instagram.com/dr.kgd/">
					<fa-icon [icon]=faInstagram />
					<span>Instagram</span>
				</a>
				<a href="https://github.com/DrKGD">
					<fa-icon [icon]=faGithub />
					<span>Github</span>
				</a>
				<a href="https://www.linkedin.com/in/drkgd">
					<fa-icon [icon]=faLinkedin />
					<span>Linkedin</span>
				</a>
				<a href="https://www.linkedin.com/in/drkgd">
					<fa-icon [icon]=faAt />
					<span>Email</span>
				</a>
			</div>
		</div>
	</div>

	<div class="disclaimer">
		<p>Copyright © 2025 Amato Ciro</p>
		<p>Deatharte</p>
	</div>
</footer>
